/* Place CSS styles here */
body {
    font-family: "semplicitapro", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.nav-header {
    display: flex;
    align-items:center
    align-content: space-between;
}
.product-row-tiles {
    display: flex;
    justify-content: center;
    gap: 34px;
}

.order-now-nav  {
    
       
}

.nav-header-2 {
    background-color: #F5EAE0;
}
.nav-header-2 nav{
    display: flex;
    gap: 80px;
    padding: 30px;
    justify-content: space-between;
}
.nav-header-2 nav a {
    text-decoration: none;
    color: #230007;
    font-weight: 700;

}
.nav-header-2 nav img {
    width: 30px;
}
.product-row {
    margin: 90px;

}
.footer-color {
    background-color: #F5EAE0;
    
}
footer img{
    width: 50px;
}
.background-image {
    min-width: 100px;
    height: 600px;
    background-image:url(/img/nahima-aparicio-erRwMuKF5qY-unsplash.jpg);
    background: linear-gradient(7, 0, 0) ;
    background-repeat:none;
    background-size: cover;
    background-position: center center;
}
section div{
    display: flex;
    gap: 40px;
    border: 50px;
}

h2 {
    display: block;
}
 p {
    display: block;

}


section img{
    width: 30%;
}


/* Tagline text in the background image needs to be align in the center*/
.background-image h1 {
    color: #F5EAE0;
    font-weight: 900;
    font-size: 60px;
    align-content: center;
    text-align: center;
    margin-top: 200px;
}

.order-now-button {
    width: 100px;
    background-color: #F5EAE0;
    border-radius: 20px;
    text-align: center;
    
}

.order-now{
    align-self: center;
    
}
.background-image-content{
    padding: 40px;
    
}
.menu-icon {
    width: 20px;
    height: 20px;
    color: black;

}
.menu-icon div {
    
}